*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

body{
    color: black;
    background: white;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 1px 1px 1px black;
    width: 100%;
    transition: all 0.3s;
}

.navigation ul li a{
    font-size: 1rem;
    color: black;
}

.navigation ul li a:hover{
    color: red;
    transition: all 0.5s;
}
 
.nav-menu{
    display: flex;
    align-items: center;
    gap: 5rem;
    font-weight: 600;
    color: black;
}

.logo{
    color: red;
    font-weight: bolder;
}

.navigation i{
    font-size: 1.5rem;
    cursor: pointer;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
   display: block;
   width: 28px;
   height: 3px;
   border-radius: 3px;
   background: black;
   margin: 5px auto;
   transition: all 0.5s;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background-color: rgba(255, 0, 0, 0.689);
    color: white;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    cursor: pointer;
    margin-top: 50px;
}

.btn:hover{
    background-color: brown;
}

.home .img img{
    width: 500px;

}

.text{
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-items: center;
}


@media (max-width: 785px){
    .navigation{
        padding: 18px 20px;
    }

    .menu{
        display: block;
    }

    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
      opacity: 0;
    }

    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #fff;
        gap: -10px;
        transition: all 0.5s;

    }

    .nav-menu.ativo{
        right: 0;
    }

    .nav-item{
        margin: 16px 0;
    }

    .home{
        display: flex;
        flex-direction: column
    }


    
}